# # name: regression_suit

# # on: 
# #   push:
# #     branches:
# #       - main
# #   pull_request:
# #     branches:
# #       - main
# #   schedule:
# #     - cron: '* * * * *'

# # jobs:
# #   run-tests:
# #     runs-on: ubuntu-latest

# #     steps:
# #       - name: Checkout code
# #         uses: actions/checkout@v3

#       - name: Setup Python
#         uses: actions/setup-python@v3
#         with:
#           python-version: '3.9'

#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt

#       - name: Run tests
#         run: |
#           mkdir -p reports
#           timestamp=$(date +"%Y-%m-%d_%H-%M-%S")
#           pytest --html=reports/report_$timestamp.html -s --self-contained-html

#       - name: List report files
#         run: ls -l reports

#       - name: Upload reports
#         uses: actions/upload-artifact@v3
#         with:
#           name: pytest-reports
#           path: reports/*.html




          

      

